<app-title-card [header]="title"></app-title-card>

<div style="padding : 5px;">
  <div class="responsive">
    <div class="gallery">
      <a>
        <img src="assets/shipyard.png" width="600" height="400">
      </a>
      <div class="desc">
        <div class="desc-title">Docking And Undocking</div>
        <div>Add a description of the image here</div>
      </div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a>
        <img src="assets/ship_building.png" width="600" height="400">
      </a>
      <div class="desc">
        <div class="desc-title">Transporting</div>
        <div>Add a description of the image here</div>
      </div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a>
        <img src="assets/shipyard.png" width="600" height="400">
      </a>
      <div class="desc">
        <div class="desc-title">Rentals</div>
        <div>Add a description of the image here</div>
      </div>
    </div>
  </div>

</div>
