.component-text {
  color: #1E2D3B;
  font: normal normal normal 55px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
  font-size: 2.75em !important;
  margin: 0.5em 0em 0em 0.5em;
  width: 280px;
  pointer-events: none;
  font-weight: 700;
}

.component-styling {
    box-sizing: border-box;
    border-top: 10px solid rgba(237, 205, 31, 1);
    transform-origin: center 5px;
    width: 8em;
    margin: 0em 0em 0.5em 1.6em;
}

.component-header {
    margin: 0.1em;
}

* {
  box-sizing: border-box;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.projects {
  padding: 0.5em 2em;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 750px) {
  .projects {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .projects {
    width: 100%;
  }
}

