<div id="component-header">
  <div class="component-text">PROJECTS</div>
  <div class="component-styling"></div>
</div>

<div *ngFor="let project of projects">
  <div id="projects" class="projects">
    <div class="gallery">
      <a>
        <img src="assets/ship_sea.png" alt="image" width="350" height="350">
      </a>
    </div>
  </div>

  <div class="projects">
    <div class="gallery">
      <a>
        <img src="assets/ship_building.png" alt="Cinque Terre" width="350" height="350">
      </a>
    </div>
  </div>
</div>
