.hero-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://drive.google.com/uc?id=1smXxkO3hak2P0ezynXlZNw2LbORokfmS");
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://drive.google.com/uc?id=1MkkMmUfVMSVZIaoodak_FrYvwVMhQHLM"); */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text > h1 {
  font-size: 40px;
  /* font-size: 60px; */
  font-weight: bolder;
  text-transform: uppercase;
  color: #ffffff;
}
