<div class="hero-img">
  <div class="hero-text">
    <h1>Under Renovation</h1>
    <h3>Experts in docking and undocking</h3>
  </div>
</div>

<div class="odd-div">
  <app-service></app-service>
</div>

<div class="even-div">
  <app-about></app-about>
</div>

<div class="odd-div">
  <app-achievement></app-achievement>
</div>

<div class="even-div">
  <app-project></app-project>
</div>

<div class="odd-div">
  <app-contact></app-contact>
</div>

<div class="even-div">
  <app-footer></app-footer>
</div>
